//

//------------------------------------------------------------------------------
#include <winresrc.h>
//------------------------------------------------------------------------------
#include "Resources.h"
//------------------------------------------------------------------------------

IDR_MAINICON            ICON            "ico\\Spider16M-32x32.ico"
IDR_MAINICONSMALL       ICON            "ico\\Spider256-16x16.ico"
//------------------------------------------------------------------------------
